{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'base/css/style.css' %} ">
    <link rel="shortcut icon" href=" {% static 'base/favicon.ico' %} " type="image/x-icon">
    <title>Base</title>
</head>
<body>
    <section>
        <header>
            <div class="topbar">
                <div class="logo">
                    <a href=""><img src=" {% static 'base/img/burguer.png'%} " alt=""></a>
                    <span>BilBurguer</span>
                </div>
                <div class="menu">
                    <div class="search">
                        <input type="text" class="busca">
                        <a href="http://"><img src=" {% static 'base/img/busca.png' %} " alt=""></a>
                    </div>
                    <div class="conta">
                        <a href="">Login</a>
                        <a href="">Registrar</a>
                    </div>
                </div>
            </div>
            
        </header>
        <div class="submenu">
            <div class="menu">
                <div class="menus">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Cardápio</a></li>
                        <li><a href="">Top BilBurguer</a></li>
                        <li><a href="">Nossas Redes</a></li>
                    </ul>
                </div>
                <div class="conta">
                    <a href=""><img src=" {% static 'base/img/favoritar.png' %} " alt=""></a>
                    <a href=""><img src=" {% static 'base/img/cart.png' %} " alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        
    </div>
</body>
</html>