{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'base/css/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'base/css/slide_base.css' %} ">
    <link rel="shortcut icon" href=" {% static 'base/favicon.ico' %} " type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>Base</title>
</head>
<body>
    <section>
        <header>
            <div class="topbar">
                <div class="logo">
                    <a href=""><img src=" {% static 'base/img/burguer.png'%} " alt=""></a>
                    <span>BilBurguer</span>
                </div>
                <div class="menu">
                    <div class="search">
                        <input type="text" class="busca">
                        <a href="http://"><img src=" {% static 'base/img/busca.png' %} " alt=""></a>
                    </div>
                    <div class="conta">
                        <a href="">Login</a>
                        <a href="">Registrar</a>
                    </div>
                </div>
            </div>
            
        </header>
        <div class="submenu">
            <div class="menu">
                <div class="menus">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Cardápio</a></li>
                        <li><a href="">Top BilBurguer</a></li>
                        <li><a href="">Nossas Redes</a></li>
                    </ul>
                </div>
                <div class="conta">
                    <a href=""><img src=" {% static 'base/img/favoritar.png' %} " alt=""></a>
                    <a href=""><img src=" {% static 'base/img/cart.png' %} " alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="slider">
            <div class="baners">
                <input type="radio" id="baner1" name="baner" >
                <input type="radio" id="baner2" name="baner">
                <input type="radio" id="baner3" name="baner">

                <div class="baner first">
                    <img src=" {% static 'base/img/baner_burguer.jpg' %} " alt="">
                </div>
                <div class="baner">
                    <img src=" {% static 'base/img/baner2.jpg' %} " alt="">
                </div>
                <div class="baner">
                    <img src=" {% static 'base/img/baner3.jpg' %} " alt="">
                </div>

                <div class="nave-auto">
                    <div class="btn1"></div>
                    <div class="btn2"></div>
                    <div class="btn3"></div>
                </div>
            </div>

            <div class="manual-navi">
                <label for="baner1" class="manual-btn"></label>
                <label for="baner2" class="manual-btn"></label>
                <label for="baner3" class="manual-btn"></label>
            </div>

        </div>
        <div class="content">
            <div class="categorias">
                <a class="left"><img src=" {% static 'base/img/left.png' %} " alt=""></a>
                <a class="next"><img src=" {% static 'base/img/next.png' %} " alt=""></a>
                <div class="cards">
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                    <a href="">
                        <div class="card">
                            <img src=" {% static 'base/img/smash_burguer.png' %} " alt="">
                            <span>Smash</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
    <script src=" {% static 'base/js/slide.js' %} "></script>
</body>
</html>